
.list__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.item__link {
    display: grid;
    // grid-template-columns: 40px auto 2fr;
    grid-template-columns: 40px 3fr 1fr;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    font-size: 1.6rem;
    border-radius: 4px;
    text-decoration: none;
    justify-items: center;
}

.item__link:hover {
  background-color: rgb(231, 229, 229);
}

.item__link .icon__arrow-forward {
    justify-self: flex-end;
}
.material-icons.book {
  color: lightslategray;
  font-size: 36px;
}

.item__name {
    color: black;
    font-weight: 500;
}

.icon__arrow-forward {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('./../../../../assets/icons/211607_right_arrow_icon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
    .list__item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 940px) {
    .list__item {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
