
.nav__list {
    height: 4rem;
    width: 15rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.material-icons.menu {
  color: white;
}

.material-icons.menu:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

.item__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;

}

@media screen and (min-width: 940px) {
    .list__item .material-icons.menu {
        display: none;
    }
}




