<section class="side__menu">
  <div class="menu__container">
    <figure>
      <img src="menu__banner" alt="banner">
    </figure>
    <nav class="menu__nav">
      <ul class="menu__nav_list">
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Biblia</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Notas</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Favoritos</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Compartir</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Ajustes</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Calificar App</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Politicas de Privacidad</a></li>
      </ul>
    </nav>
  </div>
</section>

<section>
  <div>
    <!-- <nav class="menu__nav">
      <ul class="menu__nav_list">
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Biblia</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Notas</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Favoritos</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Compartir</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Ajustes</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Calificar App</a></li>
        <li class="list__item"><a class="item__ancla" routerLink="#"><span class="item__icon">icono</span><span></span>Politicas de Privacidad</a></li>
      </ul>
    </nav> -->
  </div>

  <router-outlet></router-outlet>
</section>
