<app-header [title]="title">
</app-header>

<main>
    <div class="main__container">
      <app-page-note [notes]="notes" (eventNote)="openMenu($event)">
      </app-page-note>
    </div>

    <section class="menu">
      <div class="menu__container" *ngIf="open" (click)="toggleOpen()">
        <ul class="menu__options">
          <li class="menu__item">
            <a>Editar</a>
          </li>
          <li class="menu__item" (click)="isVisibleTheme()">
            Temas
          </li>
          <li class="menu__item" (click)="deleteNote()">
            Eliminar
          </li>
        </ul>
      </div>
    </section>

    <section class="color">
      <div class="color__container" *ngIf="theme">
        <h2 class="color__title">Cambia el color</h2>
        <div class="color__template">
          <div
            *ngFor="let item of colors"
            [style.backgroundColor]="item.color"
            (click)="chooseColor(item.color, item.id)"
            [style.border]="item.selected ? '1px solid black': '' "
            class="color__box">
          </div>
        </div>
        <button class="color__btn"
                [disabled]="isDisable"
                (click)="changeColor()">Aceptar</button>
      </div>
    </section>
</main>

<a routerLink="/create-note">
  <div class="add__button">+</div>
</a>


