
.add__button {
    width: 6rem;
    height: 6rem;
    background-color:midnightblue;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.add__button:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: red;
}
