// boton de agregar notas
.add__button {
    width: 6rem;
    height: 6rem;
    background-color:midnightblue;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.add__button:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: red;
}


// Menu de opciones para editar, eliminar y temas.
.menu__container {
  position: fixed;
  top: calc((100vh - 4rem)/2 - 6rem);
  left: calc(100vw/2 - 12.5rem);
}

.menu__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12rem;
  width: 25rem;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  background-color: orangered;
  border: 1px solid #d7c9c9;
  box-shadow: 0.1px 0.1px 7.1px -2.9px black
}

.menu__item {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.menu__item:hover {
  color: white;
  cursor: pointer;
}


//responsive design
@media screen and (min-width: 940px){
  .menu__container {
    left: calc(100vw/2);
  }
}

















